<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.symfony.ui.addnature"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.eclipse.symfony.ui.menu1"
               label="Symfony"
               path="additions">
            <separator
                  name="project">
            </separator>
         </menu>
         <action
               class="org.eclipse.symfony.ui.popup.actions.AddSymfonyNature"
               enablesFor="1"
               id="org.eclipse.symfony.ui.newAction"
               label="Add/Remove Symfony Nature"
               menubarPath="org.eclipse.symfony.ui.menu1/project">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.symfony.ui.debugModel"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.symfony.ui.popup.actions.DebugModelAction"
               enablesFor="1"
               id="org.eclipse.symfony.ui.debugmodelaction"
               label="Debug symfony model"
               menubarPath="org.eclipse.symfony.ui.menu1/project">
         </action>
      </objectContribution>
   </extension>


 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.eclipse.symfony.ui.preferences.SymfonyPreferencePage"
          id="org.eclipse.symfony.ui.preferences.SymfonyPreferencePage"
          name="Symfony">
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="org.eclipse.symfony.ui"
          name="Symfony">
    </category>
    <view
          category="org.eclipse.symfony.ui"
          class="org.eclipse.symfony.ui.views.ProjectOutline"
          icon="icons/sample.gif"
          id="org.eclipse.symfony.ui.views.ProjectOutline"
          name="Symfony Project Outline">
    </view>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="contexts.xml">
    </contexts>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.php.perspective">
       <view
             id="org.eclipse.symfony.ui.views.ProjectOutline"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.TaskList">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
          activate="true"
          class="org.eclipse.symfony.ui.editor.hyperlink.SymfonyHyperlinkDetector"
          id="org.eclipse.symfony.ui.hyperlinkDetector"
          name="%hyperlinkDetector.name"
          targetId="org.eclipse.php.core.phpsource">
    </hyperlinkDetector>
 </extension>
 
</plugin>
