<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- The Symfony2 Project Nature -->
   <extension
         id="symfonyNature"
         name="Symfony Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.symfony.core.builder.SymfonyNature">
         </run>
      </runtime>
      
      <builder
            id="org.eclipse.symfony.core.symfonyBuilder">
      </builder>
      
   </extension>
   
   <!-- The Symfony2 core builder - visits xml and yml files to parse the configuration --> 
   <extension
         id="symfonyBuilder"
         name="Symfony Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.symfony.core.builder.SymfonyBuilder">
         </run>
      </builder>
   </extension>
   
   
	<!-- The Symfony2 dltk builder - traverses AST nodes during building to parse model elements like Bundles/AppKernel etc. -->   
	
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.symfony.core.builder.SymfonyBuildParticipantFactory"
            id="org.eclipse.symfony.core.buildParticipant"
            name="Symfony Builder"
            nature="org.eclipse.php.core.PHPNature">
      </buildParticipant>
   </extension>
   
   
   <!-- The Symfony2 indexing visitor - traverses the AST nodes to contribute model elements to the index like Routings and Annotations -->
   <extension
         point="org.eclipse.php.core.phpIndexingVisitors">
      <visitor
            class="org.eclipse.symfony.core.index.SymfonyIndexingVisitorExtension">
      </visitor>
   </extension>
   

	<!-- PDT SourceElementRequestor - not used at the moment -->   
   <extension
         point="org.eclipse.php.core.phpSourceElementRequestors">
      <requestor
            class="org.eclipse.symfony.core.compiler.SourceElementRequestor">
      </requestor>
   </extension>
   <extension
         point="org.eclipse.php.core.completionStrategyFactories">
      <factory
            class="org.eclipse.symfony.core.codeassist.CompletionStrategyFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.php.core.completionContextResolvers">
      <resolver
            class="org.eclipse.symfony.core.codeassist.AnnotationCompletionContextResolver"></resolver>
   </extension>
   <extension
         point="org.eclipse.php.core.goalEvaluatorFactories">
      <factory
            class="org.eclipse.symfony.core.ControllerGoalEvaluatorFactory"
            priority="100">
      </factory>
   </extension>   

</plugin>
