<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.twig.core.completionStrategyResolvers">
      <resolver
            class="org.eclipse.symfony.twig.codeassist.TwigCompletionStrategyFactory">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.twig.core.completionContextResolvers">
      <resolver
            class="org.eclipse.symfony.twig.codeassist.TwigCompletionContextResolver">
      </resolver>
   </extension>

</plugin>
