<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- The Symfony2 Project Nature -->
   <extension
         id="symfonyNature"
         name="Symfony Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.dubture.symfony.core.builder.SymfonyNature">
         </run>
      </runtime>
      <builder
            id="com.dubture.symfony.core.symfonyBuilder">
      </builder>
   </extension>

   <!-- The Symfony2 core builder - visits xml and yml files to parse the configuration -->
   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="com.dubture.symfony.core.SymfonyLanguageToolkit"
            nature="org.eclipse.php.core.PHPNature"
            priority="100">
      </language>
   </extension>
   <extension
         id="symfonyBuilder"
         name="Symfony Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.dubture.symfony.core.builder.SymfonyBuilder">
         </run>
      </builder>
   </extension>


	<!-- Preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
    	<initializer class="com.dubture.symfony.core.preferences.PreferenceInitializer">
    	</initializer>
 	</extension>

	<!-- The Symfony2 dltk builder - traverses AST nodes during building to parse model elements like Bundles/AppKernel etc. -->

	<!-- org.eclipse.php.core.PHPNature -->
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="com.dubture.symfony.core.builder.SymfonyBuildParticipantFactory"
            id="com.dubture.symfony.core.buildParticipant"
            name="Symfony Builder"
            nature="org.eclipse.php.core.PHPNature">
         <requires
               id="org.eclipse.php.core.buildParticipant.parser">
         </requires>
      </buildParticipant>
   </extension>
   <extension
         point="org.eclipse.dltk.core.indexerParticipant">
      <indexerParticipant
            class="com.dubture.symfony.core.index.SymfonyIndexerParticipant"
            nature="org.eclipse.php.core.PHPNature"
            targetId="org.eclipse.dltk.core.index.sql.indexer">
      </indexerParticipant>
   </extension>


   <!-- The Symfony2 indexing visitor - traverses the AST nodes to contribute model elements to the index like Routings and Annotations -->
   <extension
         point="org.eclipse.php.core.phpIndexingVisitors">
      <visitor
            class="com.dubture.symfony.core.index.SymfonyIndexingVisitorExtension">
      </visitor>
   </extension>


	<!-- PDT SourceElementRequestor - not used at the moment -->
   <!--extension
         point="org.eclipse.php.core.phpSourceElementRequestors">
      <requestor
            class="com.dubture.symfony.core.compiler.SourceElementRequestor">
      </requestor>
   </extension-->

   <extension
         point="org.eclipse.php.core.goalEvaluatorFactories">
      <factory
            class="com.dubture.symfony.core.goals.ContainerAwareGoalEvaluatorFactory"
            priority="100">
      </factory>
      <factory
            class="com.dubture.symfony.core.goals.TemplateGoalEvaluatorFactory"
            priority="100">
      </factory>
   </extension>
   <extension
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="com.dubture.symfony.core.codeassist.SymfonySelectionEngine"
            nature="org.eclipse.php.core.PHPNature"
            priority="100">
      </selectionEngine>
   </extension>
   <extension
         point="com.dubture.doctrine.core.entityResolvers">
      <resolver
            class="com.dubture.symfony.core.goals.SymfonyEntityResolver">
      </resolver>
   </extension>

   <!-- End code assist -->

    <extension id="serviceMarker" point="org.eclipse.core.resources.markers" name="Service Marker">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
    	<super
           type="org.eclipse.core.resources.textmarker">
    	</super>
    	<persistent
           value="true">
    	</persistent>
     <attribute
           name="serviceClass">
     </attribute>
     <attribute
           name="resolutionText">
     </attribute>
    </extension>
    <extension
          id="com.dubture.symfony.validation.serviceValidator"
          name="Symfony Service Validator"
          point="org.eclipse.wst.validation.validatorV2">
       <validator
             build="true"
             class="com.dubture.symfony.core.validation.ServiceDefinitionValidator"
             markerId="com.dubture.symfony.core.serviceMarker"
             sourceid="org.eclipse.wst.xml.ui.internal.validation.DelegatingSourceValidatorForXML"
             version="1">
             <include>
                <rules>
                   <projectNature id="com.dubture.symfony.core.symfonyNature"/>
                </rules>
             </include>
             <include>
                <rules>
                   <contentType id="org.eclipse.core.runtime.xml"></contentType>
                   <contentType id="org.eclipse.wst.xml.core.xmlsource"></contentType>
                   <fileext
                         caseSensitive="false"
                         ext="xml">
                   </fileext>
                </rules>
             </include>
       </validator>
    </extension>
    <extension
          point="org.eclipse.wst.common.project.facet.core.facets">
       <project-facet
             id="php.symfony.component">
          <label>
             Symfony
          </label>
          <description>
             Adds Symfony support to your PHP project.
          </description>
       </project-facet>
       <project-facet-version
             facet="php.symfony.component"
             version="2.2">
          <constraint>
             <and>
                <requires
                      facet="php.core.component">
                </requires>
                <requires
                      facet="php.composer.component">
                </requires>
             </and>
          </constraint>
       </project-facet-version>
       <project-facet-version
             facet="php.symfony.component"
             version="2.1">
          <constraint>
             <and>
                <requires
                      facet="php.core.component">
                </requires>
                <requires
                      facet="php.composer.component">
                </requires>
             </and>
          </constraint>
       </project-facet-version>
       <action
             facet="php.symfony.component"
             id="php.symfony.component.install"
             type="install">
          <delegate
                class="com.dubture.symfony.core.facet.InstallActionDelegate">
          </delegate>
       </action>
       <action
             facet="php.symfony.component"
             id="php.symfony.component.uninstall"
             type="uninstall">
          <delegate
                class="com.dubture.symfony.core.facet.UninstallActionDelegate">
          </delegate>
       </action>
    </extension>
    <extension
          point="org.pdtextensions.core.executableLauncher">
       <environmentFactory
             class="com.dubture.symfony.core.launch.SymfonyEnvironmentFactory"
             id="com.dubture.symfony.core.launcherfactory">
       </environmentFactory>
    </extension>
    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <file-association
             content-type="org.eclipse.core.runtime.xml"
             file-extensions="xliff">
       </file-association>
    </extension>
    <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
             class="com.dubture.symfony.core.refactoring.RenameServiceClass"
             id="com.dubture.symfony.core.refactoring.renameServiceClassParticipant"
             name="Rename Service Class">
          <enablement>
          	<with variable="affectedNatures">
        <iterate operator="or">
          <equals value="com.dubture.symfony.core.symfonyNature"/>
        </iterate>
      </with>
      <with variable="element">
        <instanceof value="org.eclipse.dltk.core.IType"/>
      </with>
          </enablement>
       </renameParticipant>
    </extension>
    
</plugin>
