<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.symfony.ui.addnature"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.eclipse.symfony.ui.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="project">
            </separator>
         </menu>
         <action
               class="com.dubture.symfony.ui.popup.actions.AddSymfonyNature"
               enablesFor="1"
               id="org.eclipse.symfony.ui.newAction"
               label="%action.label"
               menubarPath="org.eclipse.symfony.ui.menu1/project">
         </action>
      </objectContribution>
   </extension>

 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="com.dubture.symfony.ui.preferences.SymfonyPreferencePage"
          id="org.eclipse.symfony.ui.preferences.SymfonyPreferencePage"
          name="%page.name">
    </page>
    <page
          category="org.eclipse.symfony.ui.preferences.SymfonyPreferencePage"
          class="com.dubture.symfony.ui.preferences.ServicesPreferencePage"
          id="org.eclipse.symfony.ui.page1"
          name="%Services">
    </page>
 </extension>
 
 <extension
       point="org.eclipse.ui.views">
    <category
          id="org.eclipse.symfony.ui"
          name="%category.name">
    </category>
 </extension>
 
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="contexts.xml">
    </contexts>
 </extension>
 
 
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
          activate="true"
          class="com.dubture.symfony.ui.editor.hyperlink.ServiceHyperlinkDetector"
          id="org.eclipse.symfony.ui.hyperlinkDetector"
          name="%hyperlinkDetector.name"
          targetId="org.eclipse.php.core.phpsource">
    </hyperlinkDetector>
    <hyperlinkDetector
          activate="true"
          class="com.dubture.symfony.ui.editor.hyperlink.RouteHyperlinkDetector"
          id="org.eclipse.symfony.ui.routeDetector"
          name="%routeDetector.name"
          targetId="org.eclipse.php.core.phpsource">
    </hyperlinkDetector>
    <hyperlinkDetector
          activate="true"
          class="com.dubture.symfony.ui.editor.hyperlink.ViewpathHyperlinkDetector"
          id="org.eclipse.symfony.ui.viewpathDetector"
          name="%routeDetector.name"
          targetId="org.eclipse.php.core.phpsource">
    </hyperlinkDetector>            
 </extension>
 
 
 <extension
       point="org.eclipse.wst.sse.ui.semanticHighlighting">
        <highlighting
          class="org.eclipse.symfony.ui.editor.highlighting.AnnotationHighlighting"
          target="org.eclipse.php.core.phpsource">
        </highlighting> 
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="com.dubture.symfony.ui.preferences.ServicesPreferencePage"
          id="org.eclipse.symfony.ui.servicePreferencePage"
          name="%servicesPreferencePage">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IProject">
          </adapt>
       </enabledWhen>
       <filter
             name="nature"
             value="com.dubture.symfony.core.symfonyNature">
       </filter>
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="com.dubture.symfony.ui.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="ico/full/obj16/symfony_icon.gif"
          id="org.eclipse.symfony.ui.symfonyNatureImage"
          natureId="com.dubture.symfony.core.symfonyNature">
    </image>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
       <!--
		<actionSet label="%OpenActionSet.label" description="%OpenActionSet.description"
			visible="false" id="org.eclipse.php.ui.A_OpenActionSet">
			<action definitionId="org.eclipse.php.ui.edit.text.php.open.type.hierarchy"
				label="%OpenTypeHierarchyAction.label" retarget="true" menubarPath="navigate/open.ext"
				id="org.eclipse.php.ui.actions.OpenTypeHierarchy" />
			<action definitionId="org.eclipse.php.ui.edit.text.php.open.call.hierarchy"
				label="%OpenCallHierarchyAction.label" retarget="true" menubarPath="navigate/open.ext"
				id="org.eclipse.php.ui.actions.OpenCallHierarchy" />
		</actionSet>
       -->
    <actionSet
          id="org.eclipse.symfony.ui.switchContext"
          label="Sample Action Set"
          visible="false">
       <action
             class="com.dubture.symfony.ui.actions.SwitchContextAction"
             definitionId="org.eclipse.symfony.ui.edit.text.switchContext"
             id="org.eclipse.symfony.ui.actions.SwitchContextAction"
             label="&amp;Sample Action"
             menubarPath="navigate/open.ext"
             retarget="true">
       </action>
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.actionSetPartAssociations">
    <actionSetPartAssociation
          targetID="org.eclipse.symfony.ui.switchContext">
       <part
             id="org.eclipse.php.ui.explorer">
       </part>
       <part
             id="org.eclipse.php.editor">
       </part>
    </actionSetPartAssociation>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
		<command name="Switch Context"
			description="Switch context"
			categoryId="org.eclipse.ui.category.navigate" id="org.eclipse.symfony.ui.edit.text.switchContext">
		</command>

 </extension>
 
 <!-- com.dubture.symfony.core.symfonyNature / org.eclipse.php.core.PHPNature -->
 <!-- This doesn't work, as DLTK simply fetches the first nature's labelprovider/proposalfactory -->
 <!--
 <extension
       point="org.eclipse.dltk.ui.completion">
    <proposalLabelProvider
          class="org.eclipse.symfony.ui.contentassist.SymfonyCompletionProposalLabelProvider"
          nature="org.eclipse.php.core.PHPNature">
    </proposalLabelProvider>
    <proposalFactory
          class="org.eclipse.symfony.ui.SymfonyCompletionProposalFactory"
          nature="org.eclipse.php.core.PHPNature">
    </proposalFactory>
 </extension>
 -->
 
 <extension
       id="org.eclipse.symfony.ui.symfonyCompletionProposalComputer"
       point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
    <scriptCompletionProposalComputer
          categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
          class="com.dubture.symfony.ui.contentassist.SymfonyCompletionProposalComputer"
          toolkitId="org.eclipse.php.core.PHPNature">
       <partition
             type="org.eclipse.php.PHP_DEFAULT">
       </partition>
       <partition
             type="org.eclipse.twig.TWIG_DEFAULT">
       </partition>
    </scriptCompletionProposalComputer>
 </extension>
 <extension
       point="org.eclipse.php.ui.phpEditorTextHovers">
    <hover
          class="com.dubture.symfony.ui.editor.hover.RouteHover"
          id="org.eclipse.symfony.ui.routeHover"
          priority="400">
    </hover>
 </extension>
 
</plugin>
