<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.php.debug.core.phpLaunchDelegateListener">
      <launchDelegateListener
            class="com.dubture.symfony.debug.launch.LaunchDelegateListener">
      </launchDelegateListener>
   </extension>
   <extension
         point="org.eclipse.php.debug.core.phpDebuggers">
      <phpDebugger
            debuggerConfiguration="com.dubture.symfony.debug.DebuggerConfiguration"
            id="com.dubture.symfony.debug.xdebugger"
            name="XDebug (Symfony)">
      </phpDebugger>
   </extension>

</plugin>
