<div id="viewssf" class="featurediv">

	<h3>Services</h3>
	
	<p>The Services view provides an overview of all your Symfony services. You can switch between flat or bundle presentation and filter by all available service tags:</p>	
	<div class="multiShot centered" style="width: 530px;">				
	  	<a href="/images/screenshots/flat_view.png"><img src="/images/screenshots/flat_view_thumb.png"></img></a>
		<a href="/images/screenshots/bundle_view.png"><img src="/images/screenshots/bundle_view_thumb.png"></img></a>
		<a href="/images/screenshots/tag_filter.png"><img src="/images/screenshots/tag_filter_thumb.png"></img></a>
	</div>

</div>
<script type="text/javascript" charset="utf-8">
	initLightbox();
</script>
